$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-type-primary: #2979ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;
$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;
$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;
$u-type-error: #E6002D;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;
$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;
$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

::v-deep .u-drawdown-item__content {
    top: 170rpx !important;
}

::v-deep.uni-tag {
    width: auto !important;
}

::v-deep .u-row {
    flex-wrap: wrap !important;
}

::v-deep .u-dropdown__menu__item__text {
    font-size: 28rpx !important;
}


.uni-fab--rightBottom {
		right: 30rpx;
		bottom: 140rpx !important;
		right: calc(30rpx + var(--window-right));
		bottom: calc(140rpx + var(--window-bottom)) !important;
	
	
	}
	.uni-fab__circle--rightBottom {
		right: 30rpx;
		bottom: 140rpx !important;
		right: calc(30rpx + var(--window-right));
		bottom: calc(140rpx + var(--window-bottom) )!important;
	
	}

	.noData {
		text-align: center;
		color: rgba(0, 0, 0, 0.65);
		font-size: 24rpx;
		margin: 40rpx 0;
	}

	.flex-column {
		flex-direction: column;
	}

	.flex-flow-wrap {
		flex-flow: wrap
	}

	.align-items-center {
		align-items: center;
	}

	.justify-content-center {
		justify-content: center;
	}

	.d-flex {
		display: flex;
	}

	.flex-1 {
		flex: 1;

	}

	.flex-3 {
		flex: 3;

	}

	.bg-white {
		background: white;
	}

	@for $i from 1 to 30 {

		// margin
		.m-l-#{$i} {
			margin-left: 2rpx * $i;
		}

		.m-r-#{$i} {
			margin-right: 2rpx * $i;
		}

		.m-t-#{$i} {
			margin-top: 2rpx * $i;
		}

		.m-b-#{$i} {
			margin-bottom: 2rpx * $i;
		}

		.m-x-#{$i} {
			margin-left: 2rpx * $i;
			margin-right: 2rpx * $i;
		}

		.m-y-#{$i} {
			margin-top: 2rpx * $i;
			margin-bottom: 2rpx * $i;
		}

		.m-#{$i} {
			margin: 2rpx * $i;
		}

		// padding
		.p-l-#{$i} {
			padding-left: 2rpx * $i;
		}

		.p-r-#{$i} {
			padding-right: 2rpx * $i;
		}

		.p-t-#{$i} {
			padding-top: 2rpx * $i;
		}

		.p-b-#{$i} {
			padding-bottom: 2rpx * $i;
		}

		.p-x-#{$i} {
			padding-left: 2rpx * $i;
			padding-right: 2rpx * $i;
		}

		.p-y-#{$i} {
			padding-top: 2rpx * $i;
			padding-bottom: 2rpx * $i;
		}

		.p-#{$i} {
			padding: 2rpx * $i;
		}

		// font size
		.f-s-#{$i} {
			font-size: 2rpx * $i;
		}

	}

	.ellipsis_2 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.ellipsis_1 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
	}

	// font weight
	.f-w-500 {
		font-weight: 500;
	}

	.f-w-700 {
		font-weight: 700;
	}

	.f-c-0 {
		color: #000;
	}

	// text color
	.text-grey {
		color: #666666;
	}

	// text
	.text-align-center {
		text-align: center;
	}

	.text-align-right {
		text-align: right;
	}


